extends ../../layouts/base.pug
include ../../mixins/charts.pug

block body
	.container
		.row
			//- +chartCard('Total Value by State')
			//- 	+apexChart(totalValueByStateOpts)
			//- +chartCard('Total Value by Wallet Type')
			//- 	+apexChart(totalValueByWalletTypeOpts)
			+chartLongCard('Net Flow by Group')
				+apexChart(netFlowByGroupData)
			+chartLongCard('Total Value by Group')
				+apexChart(valueByGroupData)
			//- +chartLongCard('Total Value by Chain')
			//- 	+apexChart(totalValueByChainOpts)
			//- +chartLongCard('Total Value by Code')
				+apexChart(totalValueByCodeOpts)