mixin chartCard(title)
	.chart-card.col-12.col-md-6.col-lg-4
		.title= title
		block

mixin chartLongCard(title)
	.chart-card.col-12
		.title= title
		block

mixin apexChart(chartOpts)
	.chart.apex-chart(data-chart-opts=chartOpts)