extends ../../layouts/base.pug
include ../../mixins/charts.pug

block body
	script(src='https://cdn.jsdelivr.net/npm/apexcharts')
	.container
		.row
			+chartCard('Total Value by State')
				+apexPieChart(totalValueByStateData)
			+chartCard('Total Value by Chain')
				+apexPieChart(totalValueByChainData)
			+chartCard('Total Value by Wallet Type')
				+apexPieChart(totalValueByWalletTypeData)
			+chartLongCard('Total Value by Code')
				+apexTreemap(totalValueByCodeData)