extends ../../layouts/base.pug
include ../../mixins/charts.pug

block body
	script(src='https://cdn.jsdelivr.net/npm/apexcharts')
	.container
		.row
			+chartCard('Total Value by State')
				+apexChart(totalValueByStateOpts)
			+chartCard('Total Value by Wallet Type')
				+apexChart(totalValueByWalletTypeOpts)
			+chartLongCard('Net Flow by Group over time')
				+apexChart(netFlowOverTimeData)
			+chartLongCard('Total Value by Chain')
				+apexChart(totalValueByChainOpts)
			+chartLongCard('Total Value by Code')
				+apexChart(totalValueByCodeOpts)